$color--black: #222;
$color--white: #ffffff;

$color--primary: #4e73df;
$color--secondary: #858796;
$color--success: #1cc88a;
$color--info: #36b9cc;
$color--warning: #f6c23e;
$color--danger: #e74a3b;

$tablet: "all and (max-width: 1200px)";
$mobile: "all and (max-width: 720px)";

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;